    body {
      background: white;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      margin: 70px 0;
    }

    .chatbar {
      background: #3A71A8;
      border-top: 1px solid #20365F;
      bottom: 0;
      display: flex;
      left: 0;
      padding: 5px;
      position: fixed;
      right: 0;
      border-radius: 5px;

    }

    .chatbar-message,
    .chatbar-username {
      border: 1px solid #20365F;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 5px;
      padding: 0 9px;
      border-radius:5px;
      color: #20365F;
    }

    .chatbar-message {
      flex: 8;
      background-color: #F6D7E0;
    }

    .chatbar-username {
      flex: 2;
      background-color: #F6D7E0;
    }

    .message {
      display: flex;
      padding: 5px;
    }

    .message.system {
      font-style: italic;
      padding: 5px 20px;
    }

    .message-content,
    .message-username {
      overflow: hidden;
      margin: 5px;
      padding: 0 10px;

    }

    .message-content {
      flex: 8;
    }

    .message-username {
      flex: 2;
      font-weight: 700;
    }

    .navbar {
      background: #3A71A8;
      border-bottom: 1px solid #20365F;
      height: 60px;
      left: 0;
      padding: 0 10px;
      position: fixed;
      right: 0;
      top: 0;
      color:#F6D7E0;
      border-radius: 5px;


    }
    div.Counter{
      float:right;
      margin-top: 20px;
    }

    .navbar-brand {
      color: inherit;
      display: block;
      font-weight: 700;
      font-size: 28px;
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
      text-decoration: none;
    }